body{
    margin: 0em;
    min-height: 100%;
}
.about{
    background-color:tomato;
    color:white;
   height:2.5em;
    padding-top:1em;
    padding-left:1em;
  }
  .me{
    text-decoration:underline;
    padding-left:0.3em;
  }
  .aboutme{
    background-color:darkred;
    color:white;
    font-size:0.8em;
    padding-left:1em;
    padding-bottom:0.1em;
  }
  .content{
    background-color:teal;
    overflow: hidden;
  }
  .contact{
    text-decoration:underline;
    padding-left:0.5em;
    color:white;
   }
  .fb{
    color:purple;
    padding-left:2.5em;
  }
  .git{
    color:violet;
  }
  .twit{
    color:maroon;
  }
  .linkd{
    color:turquoise;
  }
  .mail{
    color:orange;
  }
  .call{
    color:green;
  }
  #work{
    text-decoration:underline;
    padding-left:0.5em;
    color:white;
  }
  .dm{
      padding-right: 0.5em;
      text-align: right;
  }
  #copy{
      float:right;
      padding-right:0.5em;
  }
  footer{
    background-color:black;
    color:white;
    font-size:0.8em;
    height:3em;
    padding-left:0.5em;
    padding-top: 1em;
    
  }
  